:root {
  /* Valeurs de fallback si jamais aucune prop n'est transmise */
  --outer-bg-color: #3c3c3c;
  --inner-bg-color: #202020;
  --outer-bg-hover-color: #505050;
  --inner-bg-hover-color: #2d2d2d;
  --text-color: #ffffff;
  --text-hover-color: #ffffff;
}

/* 
  Le conteneur principal du bouton.
  On utilise un bouton <button> HTML, mais vous pouvez aussi utiliser un <div> cliquable
  ou un <a> si nécessaire.
*/
.buttonOuter {
  /* Pour pouvoir injecter nos variables personnalisées */
  background-color: var(--outer-bg-color);
  border-radius: 30px; /* Pour obtenir un effet « pill » */
  border: 1px solid #fff;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  text-decoration: none;
  transform: rotate(-3deg);
  transition: transform 0.2s ease-in-out;
  appearance: none;
  .buttonInner {
    font-size: calc(1200vw / 1018);
    font-weight: 300;
    align-items: center;
    background-color: var(--inner-bg-color);
    color: var(--text-color);
    transform: rotate(3deg);
    display: flex;
    gap: 20px;
    border: 1px solid #fff;
    justify-content: space-between;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    transition: transform 0.2s ease-in-out;
    line-height: 1;
  }
  &:hover {
    transform: rotate(0deg) !important;
    > span {
      transform: rotate(0deg) !important;
    }
  }
}

/* 
  Le style du SVG (la flèche).
  On le rend un peu plus “organic” en le décalant légèrement au hover.
*/
.arrowSvg {
  position: relative;
  height: calc(2000vw / 1018);
  display: flex;
  overflow: hidden;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 2;
  max-width: 100px;
  > svg {
    width: calc(5000vw / 1018);
    height: calc(5000vw / 1018);
  }
}
