@use "../variables" as *;

.homepage {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    .headerVideoContainer {

        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100%;
        margin-top: 5%;


        video {
            width: auto;
            height: 90vh;
            object-fit: cover;
        }
    }

    .homeCleinDoeil {
        background-color: $grey;
        height: 280vh;
        width: 100vw;
        display: flex;
        justify-content: top;
        align-items: center;
        flex-direction: column;
        overflow: hidden;

        .content {
            height: 100vh;
            width: 100vw;
            background-color: $yellow;
            overflow: hidden;

            .papers {
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 2;

                .paper1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .paper2 {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: rotate(180deg);
                }
            }

            .cleinOeil {
                position: absolute;
                top: 100;
                right: -50;
                transform: rotate(-70deg) scale(0.8);
                z-index: 1;
                mix-blend-mode: darken;

                .oeil1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    filter: rgb(255, 0, 0);
                }

                .oeil2 {
                    top: 0;
                    right: 0;
                    left: 0;
                    filter: rgb(255, 0, 0);
                }
            }

            .explosion {
                position: absolute;
                top: 200;
                left: 140;
                z-index: 3;
                opacity: 0;
                    
                path {
                    stroke: $yellow;
                    stroke-width: 6px;
                    stroke-linecap: square;
                }
                
            }

            .ShortSVG {
                position: absolute;
                top: 200;
                right: -40;
                z-index: 5;
            }

            .longSVG {
                border: 2px solid green;
                width: 101vw;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                mix-blend-mode: difference;
            }

            .splitText {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                mix-blend-mode: difference;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                width: 100vw;
                color: $yellow;

                .splitText1 {
                    display: flex;
                    text-align: center;                    
                    
                    .span1 {
                        font-size: calc(9000vw / 1018) !important;
                    }

                    .span2 {
                        font-size: calc(5000vw / 1018) !important;
                    }
                
                    .span3 {
                        font-size: calc(9000vw / 1018) !important;
                    }
                }

                .splitText2 {
                    font-size: calc(5000vw / 1018);
                    text-align: center;
                    line-height: 140px;
                }

                .splitText3 {
                    font-size: calc(9000vw / 1018);
                    text-align: center;
                    line-height: 140px;
                }
            }

            .TvSection {
                position: relative;
                height: 100vh;
                width: 100vw;
                background-color: transparent;
                border: 2px solid blue;
                display: flex;
                justify-content: center;
                align-items: end;
                z-index: 100;


            img {
                position: absolute;
                height: 50%;
                width: 50%;
                bottom: 0;
                z-index: 100;
            }
            }
        }

  
    }

    .homeCuriosity {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $grey;
        color: white;

        .texteCuriosity {

            width: 100vw;
            text-align: center;
            line-height: 140px;

            .title {
                font-size: calc(9000vw / 1018);
            }

            .subTitle {
                font-size: (5000vw / 1018);
            }

            .text {
                font-size: calc(2000vw / 1018);
            }
        }

        .iconesCuriosity {
            display: flex;
            justify-content: center;
            gap: 10%;
            width: 100vw;

            img {
                width: 150px;
            }
        }
    }

    .HomeMotsCroise {
        height: 230vh;
        width: 100vw;
        display: flex;
        justify-content: top;
        align-items: top;
        flex-direction: row;
        background-color: $grey;
        color: white;

        .texteMotsCroise {
            height: 100vh;
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            ;

            .title1 {
                font-size: calc(6000vw / 1018);
            }

            .title2 {
                font-size: (12000vw / 1018);
            }

            .title3 {
                font-size: calc(5000vw / 1018);
            }

            .title4 {
                font-size: calc(6500vw / 1018);
            }
        }

        .sectionMotCroise {
            height: 100vh;
            width: 55%;
            display: flex;
            justify-content: center;
            align-items: center;


            .motCroise {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 2em 10em;

                .row {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                    line-height: 4em;
                    gap: 2em;

                }

                .letter {
                    display: inline-block;
                    text-align: center;
                    font-size: calc(2600vw / 1018);
                    font-weight: bold;
                    color: white;
                    width: 100%;
                    opacity: 0;
                }

                .letter.blank {
                    text-align: center
                }
            }
        }
    }

    .homeFlag {
        height: 100vh;
        width: 100vw;
        background-color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid red;
    }

    .HomeRestaurant {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grey;
        border: 2px solid blue;

        .canvaContainer {
            height: 100%;
            width: 100%;
        }

    }


}